APP_ENV=development

OSS_ACCESS_KEY_ID=oss_access_key_id
OSS_ACCESS_KEY_SECRET=access_key_secret
OSS_BUCKET=bucketname

DASHSCOPE_API_KEY=dashscope_api_key
DASHSCOPE_BASE_URL=base_url

TAVILY_API_KEY=tvly-dev-api_key